.contents.row.pt-5.pb-3
  .col-12
    - @contents.each.with_index(1) do |n, i|
      - next if (i % 2).zero?
      .row.mb-1
        .col-12
          .card-group
            .card.text-white.mr-1{ class: n[:class] }
              .row.card-img-overlay.pt-0.pb-0.pr-3
                .col-6
                .col-6.text
                  .row
                    .col-1.pr-0.pl-0
                    .col-10.card-text.pr-0.pl-0
                      .d-flex.flex-column.text-area
                        .text-center= n[:ja]
                        .text-center= n[:es]
                    .col-1.pr-0.pl-0.icon-area
                      %i.fa.fa-angle-right
            .card.text-white{ class: @contents[i - 2][:class] }
              .row.card-img-overlay.pt-0.pb-0.pr-3
                .col-6
                .col-6.text
                  .row
                    .col-1.pr-0.pl-0
                    .col-10.card-text.pr-0.pl-0
                      .d-flex.flex-column.text-area
                        .text-center= @contents[i - 2][:ja]
                        .text-center= @contents[i - 2][:es]
                    .col-1.pr-0.pl-0.icon-area
                      %i.fa.fa-angle-right
