.contents.row.pt-5.pb-3
  .col-12
    - @contents.each.with_index(1) do |n, i|
      - next if (i % 2).zero?
      .row.mb-1
        .col-1
        .col-10
          .card-group
            .card.text-white.mr-1
              .row.card-img-overlay.pt-0.pb-0.pr-3
                .col-6
                .col-6.text
                  .row
                    .col-2
                    .col-8.card-text.pr-0.pl-0= n
                    .col-2.card-text
                      %i.fa.fa-angle-right
            .card.text-white
              .row.card-img-overlay.pt-0.pb-0.pr-3
                .col-6
                .col-6.text
                  .row
                    .col-2
                    .col-8.card-text.pr-0.pl-0= @contents[i - 2]
                    .col-2.card-text
                      %i.fa.fa-angle-right
        .col-1
