%header
  %nav.navbar.navbar-expand-md.navbar-dark.fixed-top
    .navbar-brand= image_tag 'logo'
    #navbar-header.collapse.navbar-collapse
    %i.fa.fa-bars.mr-4.hamburger-menu

#hamburger-menu-item.ui-widget-content.ui-corner-all
  %ul.list-group.list-group-flush
    %li.list-group-item= "リスト1"
    %li.list-group-item= "リスト1"
    %li.list-group-item= "リスト1"
