%header
  %nav.navbar.navbar-expand-md.navbar-dark
    %h1.navbar-brand= image_tag 'logo-master', alt: '株式会社アンブリッジ(株式会社 Anbride)'
    #navbar-header.collapse.navbar-collapse.pr-5
      %ul.navbar-nav.mr-auto
      %ul.navbar-nav
        - ([{ ja: 'TOP', href: root_path }] + @contents).each_with_index do |c, i|
          %li.nav-item
            %a.nav-link{class: "nav#{i}", href: c[:href]}
              %span.bb= c[:ja]
      -# SNSリンクコメントアウト
      -# %ul.snsbtniti
      -#   %li
      -#     %a.flowbtn16.fl_tw2{:href => "https://twitter.com/Anbridge2"}
      -#       %i.fa.fa-twitter
      -#       %div Twitter
      -#   %li
      -#     %a.flowbtn16.fl_fb2{:href => "https://www.facebook.com/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BEAnbridge-860360757674738/"}
      -#       %i.fa.fa-facebook-f
      -#       %div Facebook
      -#   %li
      -#     %a.flowbtn16.insta_btn2{:href => "https://www.instagram.com/anbridge221/?hl=ja"}
      -#       %i.fa.fa-instagram
      -#       %div Instagram
