.row.first
  .col-6
    .row.top
      .col-12 採用情報
    .row.midle
      .col-12 RECRUIT
    .row.low
      .col-12 未完成だからこそ面白い


  .col-6.pr-0.right
.row
  .col-10.second
    .row
      .col-12 CULTURE
    .row
      .col-12 自由と責任
