.row.first
  .col-6
    .row.top
      .col-12 事業
    .row.midle
      .col-12 SERVICE
    .row.low
      .col-12 ３つの事業を軸に、
    .row.low
      .col-12 常に成長・進化していく、Anbrigeのサービス

  .col-6.pr-0.right
.row
  .col-10.second
    .row
      .col-12 What's in service?
    .row
      .col-12 事業内容
