.row
  .col-1
  .col-11.title ENTRY
.row.second
  .col-1
  .col-11 変化し続ける21世紀。私たちの働き方はどのように変わっていくだろうか。
.row.pt-2
  .col-1
  .col-11 変化に立ち向かい、私たちの力で進化させていこう。
.row.pt-2.last
  .col-1
  .col-11 世の中への新しい進化を生み出していくため、ともに挑戦し続けよう。
