.row
  .col-1
  .col-11.title ENTRY
.row.second
  .col-1
  .col-11 未来を創造し、関わる全ての人を幸せに。
.row.pt-2
  .col-1
  .col-11 その理念を共にして、変化に立ち向かい、私たちの力で２１世紀を進化させていこう。
.row.pt-2.last
  .col-1
  .col-11 世の中への新しい進化を生み出していくため、常に挑戦し世界を変えよう。
