.row.first
  .col-6
    .row.top
      .col-12 採用情報
    .row.midle
      .col-12 RECRUIT
    .row.low
      .col-12 未来の「幸せ」を
    .row.low
      .col-12 届けるために。
    .row.low
      .col-12 関わる全ての人を幸せにする未来を創造する

  .col-6.pr-0.right
.row
  .col-10.second
    .row
      .col-12 CULTURE
    .row
      .col-12 自由と責任
