.row.first
  .col-6.service-title.slide-bottom{"data-plugin-options" => '{"offset": -100}'}
    .row.top
      .col-12 事業
    .row.midle
      .col-12 SERVICE
    .row.low
      .col-12 ３つの事業を軸に、常に成長・進化していく
    .row.low
      .col-12 Anbrigeのサービス

  .col-6.pr-0.right.slide-right{"data-plugin-options" => '{"offset": -200}'}
.row.slide-left{"data-plugin-options" => '{"offset": -200}'}
  .col-10.second
    .row
      .col-12 What's in service?
    .row
      .col-12 事業内容
