.row.company.pt-5.pb-5
  .col-6
    .row.content-area
      .col-4.mt-2.title 会　社　名
      .col-8.mt-2.text 株式会社　Anbridge
    .row.content-area
      .col-4.mt-2.title 設　立
      .col-8.mt-2.text 2019年2月
    .row.content-area
      .col-4.mt-2.title 所　在　地
      .col-8.mt-2.text 〒113-0033　東京都文京区本郷1-4-4　水道橋ビル　6階
    .row.content-area
      .col-4.mt-2.title 連　絡　先
      .col-8.mt-2.text t. 03-5615-9953　/　f. 03-5615-9954
    .row.content-area
      .col-4.mt-2.title 代表取締役
      .col-8.mt-2.text 稲森健太
    .row.content-area
      .col-4.mt-2.title 登　録
      .col-8.mt-2.text 有料職業紹介事業許可　許可番号：13-ユ-310972
    .row.content-area
      .col-4.mt-2.title 社会保険労務士
      .col-8.mt-2.text 奥村広美さくら事務所
    .row.content-area.bb
      .col-4.mt-2.title 顧問税理士
      .col-8.mt-2.text 岩崎信也
  .col-6= render 'google_map'
