.container-fluid.mb-5
  .recruit
    .row.pt-5.title
      .col-12.text-center ■新卒、中途募集ページ■
    .row.pt-5.title2
      .col-12.text-center JOB
    .row.sub-title
      .col-12.text-center 募集要項
    .row
      .col-12 募集職種
    .row.pt-3.text
      .col-4.pr-0 総合職　:
      .col-8.pl-0.pt-1.recruitName ・ クライアントセールス
    .row.pt-1.text
      .col-4.pr-0
      .col-8.recruitDetails 法人営業として、人材不足に悩む企業に求職者をご紹介し、企業の問題解決を担います。
    .row.pt-3.text
      .col-4.pr-0
      .col-8.pl-0.recruitName ・ キャリアアドバイザー
    .row.pt-1.text
      .col-4.pr-0
      .col-8.recruitDetails カウンセリングを通じてITフリーランスのスキルや志向性を把握し、求職者や企業のニーズをマッチさせキャリア支援まで行います。
    .row.pt-3.text
      .col-4.pr-0
      .col-8.pl-0.recruitName ・ITエンジニア
    .row.sp_text
      .col-4.pr-0
      .col-8.pl-0.recruitName （社内SE、プログラマー、インフラエンジニア)
    .row.pt-2.text
      .col-4.pr-0
      .col-8.recruitDetails 顧客の要望や抱えている問題点をヒアリングしてソフトウェアの設計書の作成や、自社のシステム開発に従事するエンジニアを主に募集します。
    .row.pt-3.text
      .col-4.pr-0
      .col-8.pl-0.recruitName ・WEBマーケティング
    .row.sp_text
      .col-4.pr-0
      .col-8.pl-0.recruitName （マーケティング、企画営業、運用・分析）
    .row.pt-3.text
      .col-4.pr-0
      .col-8.recruitDetails 各種データの分析、マーケティング戦略の立案から実行まで幅広くマーケティング業務を行います。
    .row.pt-3.text
      .col-4.pr-0
      .col-8.pl-0.recruitName ・事務
    .row.pt-2.text
      .col-4.pr-0
      .col-8.recruitDetails データ集計入力業務(売上データ、顧客データ等のPC入力)や、庶務業務(来客対応、電話対応、郵送物手配等)を行います。
    .row
      .col-12.content
    .row.mt-5
      .col-12.content
        .row
          .col-12 応募条件
        .row.pt-3
          .col-12.text 2020年、2021卒業予定の就職活動生
        .row
          .col-12.text ※学部・学科・専門不問
        .row
          .col-12.text 中途採用・未経験OK
    .row.mt-5
      .col-12.content
        .row
          .col-12 新卒給与
        .row.pt-3
          .col-12.text 月給200,000 円～
        .row
          .col-12.text 交通費支給（月額3万円上限）
    .row.mt-5
      .col-12.content
        .row
          .col-12 中途給与
        .row.pt-3
          .col-12.text 月給22万円～35万円
        .row
          .col-12.text （経験・スキルを考慮の上決定。お気軽に希望をお伺いさせてください）
        .row
          .col-12.text 交通費支給（月額3万円上限）
    .row.mt-5
      .col-12.content
        .row
          .col-12 勤務地
        .row.pt-3
          .col-12.text 東京本社
        .row
          .col-12.text 〒113-0033
        .row
          .col-12.text 東京都文京区本郷1-4-4 水道橋ビル６階
    .row.mt-5
      .col-12.content
        .row
          .col-12 勤務時間
        .row.pt-3
          .col-12.text 10:00 ～ 19:00（実働8時間)
        .row
          .col-12.text フレックスタイム制
    .row.mt-5
      .col-12.content
        .row
          .col-12 休日・休暇
        .row.pt-3
          .col-12.text 週休2日制、有給休暇、夏季休暇、 年末年始休暇、慶弔休暇など
    .row.mt-5
      .col-12.content
        .row
          .col-12 保険
        .row.pt-3
          .col-12.text 健康保険、厚生年金保険、雇用保険

    .row.pt-5.title2
      .col-12.text-center FLOW
    .row.sub-title
      .col-12.text-center 採用フロー

    .flow
      .row
        .col-12
          %span.bl STEP 1
          %span.pl-3 エントリー
      .row
        .col-12.content 各募集媒体より、エントリーをお願いいたします。

      .row.pt-5
        .col-12
          %span.bl STEP ２
          %span.pl-3 選考
      .row
        .col-12 社員、役員による複数回の面接を予定しています。
      .row
        .col-12.content ※適性検査を行う場合もございます。

      .row.pt-5
        .col-12
          %span.bl STEP 3
          %span.pl-3 最終選考
      .row
        .col-12 弊社代表と、最終面接です。
