.container-fluid.mb-5
  .recruit
    .row.pt-5.title
      .col-12.text-center JOB
    .row.sub-title
      .col-12.text-center 募集要項
    .row
      .col-2
      .col-8.content.job
        .row
          .col-3.text-right.title 募集職種
          .col-9
            .row
              .col-3.text-right 総合職 :
              .col-9.text-left ・ クライアントセールス
            .row.pt-2
              .col-3.text-right
              .col-9.pl-5.text-left 法人営業として、人材不足に悩む企業に求職者をご紹介し、企業の問題解決を担います。
            .row.pt-5
              .col-3.text-right
              .col-9.text-left ・ キャリアアドバイザー
            .row.pt-2
              .col-3.text-right
              .col-9.pl-5.text-left カウンセリングを通じてITフリーランスのスキルや志向性を把握し、求職者や企業のニーズをマッチさせキャリア支援まで行います。
            .row.pt-5
              .col-3.text-right
              .col-9.text-left ・ITエンジニア
            .row
              .col-3.text-right
              .col-9.text-left （社内SE、プログラマー、インフラエンジニア)
            .row.pt-2
              .col-3.text-right
              .col-9.pl-5.text-left 顧客の要望や抱えている問題点をヒアリングしてソフトウェアの設計書の作成や、自社のシステム開発に従事するエンジニアを主に募集します。
            .row.pt-5
              .col-3.text-right
              .col-9.text-left ・WEBマーケティング
            .row
              .col-3.text-right
              .col-9.text-left （マーケティング、企画営業、運用・分析）
            .row.pt-2
              .col-3.text-right
              .col-9.pl-5.text-left 各種データの分析、マーケティング戦略の立案から実行まで幅広くマーケティング業務を行います。
            .row.pt-5
              .col-3.text-right
              .col-9.text-left ・事務
            .row.pt-2
              .col-3.text-right
              .col-9.pl-5.text-left データ集計入力業務(売上データ、顧客データ等のPC入力)や、庶務業務(来客対応、電話対応、郵送物手配等)を行います。
    .row.mt-5
      .col-2
      .col-8.content
        .row
          .col-3.text-right.title 応募条件
          .col-9
            .row
              .col-12.text 2020年、2021卒業予定の就職活動生
            .row
              .col-12.text ※学部・学科・専門不問
            .row
              .col-12.text 中途採用・未経験OK
    .row.mt-5
      .col-2
      .col-8.content
        .row
          .col-3.text-right.title 新卒給与
          .col-9
            .row
              .col-12.text 月給200,000 円～
            .row
              .col-12.text 交通費支給（月額3万円上限）
    .row.mt-5
      .col-2
      .col-8.content
        .row
          .col-3.text-right.title 中途給与
          .col-9
            .row
              .col-12.text 月給22万円～35万円
            .row
              .col-12.text （経験・スキルを考慮の上決定。お気軽に希望をお伺いさせてください）
            .row
              .col-12.text 交通費支給（月額3万円上限）
    .row.mt-5
      .col-2
      .col-8.content
        .row
          .col-3.text-right.title 勤務地
          .col-9
            .row
              .col-12.text 東京本社
            .row
              .col-12.text 〒113-0033
            .row
              .col-12.text 東京都文京区本郷1-4-4 水道橋ビル６階
    .row.mt-5
      .col-2
      .col-8.content
        .row
          .col-3.text-right.title 勤務時間
          .col-9
            .row
              .col-12.text 10:00 ～ 19:00（実働8時間)
            .row
              .col-12.text フレックスタイム制
    .row.mt-5
      .col-2
      .col-8.content
        .row
          .col-3.text-right.title 休日・休暇
          .col-9
            .row
              .col-12.text 週休2日制、有給休暇、夏季休暇、 年末年始休暇、慶弔休暇など
    .row.mt-5
      .col-2
      .col-8.content
        .row
          .col-3.text-right.title 保険
          .col-9
            .row
              .col-12.text 健康保険、厚生年金保険、雇用保険
    .row.pt-5.title
      .col-12.text-center FLOW
    .row.sub-title
      .col-12.text-center 採用フロー
    .row
      .col-2
      .col-8.content2
        .row
          .col-2.title.text-right.c.pr2 STEP 1
          .col-2.title エントリー
          .col-8.text-left 各募集媒体より、エントリーをお願いいたします。
    .row.pt-5
      .col-2
      .col-8.content2
        .row
          .col-2.title.text-right.c STEP ２
          .col-2.title 選考
          .col-8.text-left 社員、役員による複数回の面接を予定しています。
        .row
          .col-4
          .col-8.text-left ※適性検査を行う場合もございます。
    .row.pt-5
      .col-2
      .col-8.content2
        .row
          .col-2.title.text-right.c.pr1 STEP 3
          .col-2.title 最終選考
          .col-8.text-left 弊社代表と、最終面接です
