.container-fluid.mb-5
  .recruit
    .row.pt-5.title
      .col-12.text-center JOB
    .row.sub-title
      .col-12.text-center 募集要項
    .row
      .col-2
      .col-8.content
        .row
          .col-3.text-right.title 募集職種
          .col-9
            .row
              .col-3.text-right 総合職 :
              .col-9.text-left ・ クライアントセールス
            .row.pt-2
              .col-3.text-right
              .col-9.text-left 　法人営業として、エンジニア不足に悩む企業にITフリ
            .row.pt-2
              .col-3.text-right
              .col-9.text-left 　ーランスをご紹介し、企業の課題解決を担います。
            .row.pt-3
              .col-3.text-right
              .col-9.text-left ・ キャリアアドバイザー
            .row.pt-2
              .col-3.text-right
              .col-9.text-left 　カウンセリングを通じてITフリーランスのスキルや志
            .row.pt-2
              .col-3.text-right
              .col-9.text-left 　向性を把握し、案件（仕事）の提案から案件参画後のキ
            .row.pt-2
              .col-3.text-right
              .col-9.text-left 　ャリア支援まで行います。
    .row.mt-5
      .col-2
      .col-8.content
        .row
          .col-3.text-right.title 応募条件
          .col-9
            .row
              .col-12.text 2020年卒業予定の就職活動生
            .row
              .col-12.text ※学部・学科・専門不問
    .row.mt-5
      .col-2
      .col-8.content
        .row
          .col-3.text-right.title 給与　　
          .col-9
            .row
              .col-12.text 月給250,000 円～
            .row
              .col-12.text 交通費支給（月額3万円上限）
    .row.mt-5
      .col-2
      .col-8.content
        .row
          .col-3.text-right.title 勤務地　
          .col-9
            .row
              .col-12.text 東京本社
            .row
              .col-12.text 〒150-0043
            .row
              .col-12.text 東京都渋谷区道玄坂2-11-1 G-SQUARE 10階
            .row
              .col-12.text ※大阪、福岡などの別拠点への配属の可能性もございます。
    .row.pt-5.title
      .col-12.text-center FLOW
    .row.sub-title
      .col-12.text-center 採用フロー
    .row
      .col-2
      .col-8.content2
        .row
          .col-2.title.text-right.c STEP　1
          .col-2.title エントリー
          .col-8.text-left 当サイトより、エントリーしてください。説明会のご案内が届きます。
    .row.pt-5
      .col-2
      .col-8.content2
        .row
          .col-2.title.text-right.c STEP　2
          .col-2.title 説明会
          .col-8.text-left 説明会では企業紹介や事業内容の説明の他に、グループワークを行います。
