.container-fluid
  .service
    .first
      .row.first.slide-bottom.mt-5
        .col-12 SERVICE - 01
      .row.second.slide-bottom
        .col-12 IT人材事業
      .third.slide-bottom
        .row
          .col-12 IT人材不足が深刻化するなかで企業の競争力を高めていくためには、企業活動の基盤となるITインフラの構築、
        .row.pt-2
          .col-12 情報システムの活用が必要不可欠です。Anbridgeのシステムエンジニアリングは、お客様が抱えるプロジェクトの遂行、
        .row.pt-2
          .col-12 インフラの構築から運用・保守に必要な人材と技術力をタイムリーに提供します。またスキルや志向性を正確に把握し、
        .row.pt-2.pb-5
          .col-12 企業のニーズに応える最適なマッチングを実現します。
    .block.slide-right{"data-plugin-options" => '{"offset": -200}'}
      .img
      .under
        .title 主語を一つ上の視座に変えて「他者貢献」に徹する
        .text テキストテキストテキストテキスト

    .first
      .row.first.slide-bottom
        .col-12 SERVICE - 02
      .row.second.slide-bottom
        .col-12 中途紹介事業
      .third.slide-bottom
        .row
          .col-12 あらゆる業界・職種の多様な人材ニーズに応え、企業の「人材強化」を力強くサポート。質の高いコンサルティング
        .row.pt-2
          .col-12 により、ニーズにマッチした人材を紹介すると共に、人材戦略や年間を通した採用計画立案まで踏み込んだ提案を行います。
        .row.pt-2
          .col-12 また当社のキャリアアドバイザーはミスマッチを減らすために日頃から採用担当者と密接な関係を築き、
        .row.pt-2
          .col-12 企業の業務内容や社風を知ることを心掛けています。キャリアアドバイザーの育成では、クライアントの人材ニーズを理解するために
        .row.pt-2.pb-5
          .col-12 求職者担当（CA）に企業担当（RA）を両方経験させるなど、現場感覚を磨いて求人内容をより深く理解して採用決定率を高めています。
    .block.slide-right{"data-plugin-options" => '{"offset": -200}'}
      .img2
      .under
        .title 主語を一つ上の視座に変えて「他者貢献」に徹する
        .text テキストテキストテキストテキスト

    .first
      .row.first.slide-bottom
        .col-12 SERVICE - 03
      .row.second.slide-bottom
        .col-12 新卒紹介事業
      .third.slide-bottom
        .row
          .col-12 当社では上位校の学生団体や学生寮との独自のネットワークにより、優秀な学生にアプローチする方法を多く持っています。
        .row.pt-2
          .col-12 そうして集めた新卒を、当社キャリアアドバイザーがスクリーニングをかけ、精度高くクライアントにご紹介しております。
        .row.pt-2
          .col-12 またキャリアアドバイザーが第三者としての立場からクライアントの魅力を客観的に伝え、先入観による「ミスマッチ」を防止。
        .row.pt-2
          .col-12 本当にマッチした人材のみを厳選してご紹介します。動機付け、志望度喚起、選考途中・内定後のフォローまで行うことで、
        .row.pt-2.pb-5
          .col-12 内定承諾率も格段に向上しています。
    .block.slide-right{"data-plugin-options" => '{"offset": -200}'}
      .img3
      .under
        .title 主語を一つ上の視座に変えて「他者貢献」に徹する
        .text テキストテキストテキストテキスト
