.container-fluid
  .service
    .first
      .row.first
        .col-12 CULTURE - 01
      .row.second
        .col-12 関係者全員の幸福を追求する
      .third
        .row
          .col-12 「社員が楽しそうに働いている」レバレジーズに来社された方からよく聞く言葉です。 その根底にあるの
        .row.pt-2
          .col-12 は企業理念にある「関係者全員の幸福」。 この理念にはもちろん私たち自身も含まれます。だからこそ働
        .row.pt-2
          .col-12 きやすさを追求することは私たちの使命でもあります。 コミュニケーションを活性化させるための、「事
        .row.pt-2
          .col-12 業部間交換留学制度」や社内イベント 、部活動。家族を大切にするため「短時間勤務制度」や社員の家族
        .row.pt-2
          .col-12 を招いた「ファミリーデー」などなど。 こうした制度やイベントのほとんどが社員のアイディアから採用
        .row.pt-2.pb-5
          .col-12 されています。
        .img
    .under
      .title 主語を一つ上の視座に変えて「他者貢献」に徹する
      .text テキストテキストテキストテキスト
