.service.mt-5
  .first
    .row.first
      .col-12 SERVICE - 01
    .row.second
      .col-12 IT人材事業
    .third.pt-3.slide-bottom{"data-plugin-options" => '{"offset": -300}'}
      .row
        .col-12.text 「攻め」のITを支える。ビジネスを成功に導く「攻めのIT」、そして攻めのITを円滑に継続させるための「守りのIT」、この二つを支える架け橋(bridge)に
      .row.pt-2
        .col-12.text 最新のテクノロジーとビジネスプロセスの変革で、企業の生産性を次のステージに導くビジネスの課題解決を主軸に置き、日々の業務改善だけでなく、抜本的な業務プロセスの改革を
      .row.pt-2.pb-5
        .col-12.text Anbridgeならではの高い採用力と育成力は、ビジネスレベルの底上げを実現します。
    .img.slide-left{"data-plugin-options" => '{"offset": -300}'}
    .under.slide-right{"data-plugin-options" => '{"offset": -300}'}
      .title 最新のテクノロジーとビジネスプロセスの変革で、企業の生産性を次のステージに導く
      .text.pt-4 ビジネスの課題解決を主軸に置き、日々の業務改善だけでなく、抜本的な業務プロセスの改革を。
      .text.pb-2 Anbridgeならではの高い採用力と育成力は、ビジネスレベルの底上げを実現します。
  .first
    .row.first
      .col-12 SERVICE - 02
    .row.second
      .col-12 中途紹介事業
    .third.pt-3.slide-bottom{"data-plugin-options" => '{"offset": -300}'}
      .row
        .col-12.text あらゆる業界・職種の多様な人材ニーズに応え、企業の「人材強化」を力強くサポート。質の高いコンサルティングにより、ニーズにマッチした人材を紹介すると共に、人材戦略や年間を通した採用計画立案まで踏み込んだ提案を行います。
      .row.pt-2
        .col-12.text また当社のキャリアアドバイザーはミスマッチを減らすために日頃から採用担当者と密接な関係を築き、企業の業務内容や社風を知ることを心掛けています。
      .row.pt-2.pb-5
        .col-12.text キャリアアドバイザーの育成では、クライアントの人材ニーズを理解するために求職者担当（CA）に企業担当（RA）を両方経験させるなど、現場感覚を磨いて求人内容をより深く理解して採用決定率を高めています。
    .img2.slide-left{"data-plugin-options" => '{"offset": -300}'}
    .under.slide-right{"data-plugin-options" => '{"offset": -300}'}
      .title あなたは社会をどうしたい？
      .text.pt-4 近い未来で、経営の中核を担ってほしい。変化を楽しめる、好奇心に満ちた逸材を。
      .text 社会の課題を見逃さない圧倒的な当事者意識をを持った進化を続けられる人材を届けたい
      .text.pb-2 Anbridgeは「就業者と企業とのミスマッチ」を解消します。
  .first
    .row.first
      .col-12 SERVICE - 03
    .row.second
      .col-12 新卒紹介事業
    .third.pt-3.slide-bottom{"data-plugin-options" => '{"offset": -300}'}
      .row
        .col-12.text 当社では上位校の学生団体や学生寮との独自のネットワークにより、優秀な学生にアプローチする方法を多く持っています。
      .row.pt-2
        .col-12.text そうして集めた新卒を、当社キャリアアドバイザーがスクリーニングをかけ、精度高くクライアントにご紹介しております。
      .row.pt-2.pb-5
        .col-12.text 本当にマッチした人材のみを厳選してご紹介します。動機付け、志望度喚起、選考途中・内定後のフォローまで行うことで、内定承諾率も格段に向上しています。
    .img3.slide-left{"data-plugin-options" => '{"offset": -300}'}
    .under.slide-right{"data-plugin-options" => '{"offset": -300}'}
      .title 可能性のある若者の、次元を超えた圧倒的な成長を支えたい
      .text.pt-4 働き方が多様化する時代の中で、一人ひとりの意思によるキャリア選択を促進し、マッチングを最適化することを通して、自分たちが主役になって働くことの幸せを感じ、圧倒的な現代の経済成長に貢献する逸材を。
      .text.pb-2 Anbridgeは若者が支える活力ある社会を目指しております。
