.row
  .col-12
    .row.bg
      .col-1
      .col-5.bg-border-l
      .col-5.bg-border-r
      .col-1
    .working-space
      .row
        .col-1
        .col-10.pr-5.text-center
          = image_tag 'https://placehold.jp/800x120.png?text=コワーキングスペース募集中'
        .col-1
