.row
  .col-12
    .row.jumbotron-bg
      .col-1
      .col-5.bg-border-l
      .col-5.bg-border-r
      .col-1
    .jumbotron-text
      .row
        .col-1
        .col-10.color-white
          CREATE NEW VALUE
      .row
        .col-1
        .col-10.color-red
          IN THE WORLD.
      .row
        .col-1
        .col-10.philosophy.color-white.text-right
          世界に新しい価値を創造する
