.row
  .col-12
    .row.jumbotron-bg
      .col-3
      .col-6.bg-border
      .col-3
    .jumbotron-text
      .row
        .col-3
        .col-6.color-white
          CREATE NEW VALUE
      .row
        .col-3
        .col-6.color-red
          IN THE WORLD.
      .row
        .col-3
        .col-6.philosophy.color-white.text-right
          世界に新しい価値を創造する
