@import "bootstrap";
@import "font-awesome";

body,
html {
  height: 100%;

  header {
    nav {
      background-color: #000000;
      height: 4em;

      .navbar-brand img {
        height: 3em;
      }
    }
  }

  .video-wrap {
    position: relative;
    width: 100%;

    #video {
      width: 100%;
    }

    .text-1, .text-2 {
      font-family: serif;
      color: #fff;
      font-size: 400%;
      position: absolute;
      z-index: 1;
    }

    .text-1 {
      top: 200px;
    }

    .text-2 {
      top: 300px;
    }
  }

  .b-u {
    border: solid #c0c0c0;
    border-width: 0px 0px 0.2px 0px;
  }

  .contents {
    .card-group {
      height: 16em;
    }

    .card {
      border: none;
      background-image: url('https://placehold.jp/100x50.png');
      background-position: center top;
      background-repeat: no-repeat;
      -moz-background-size: cover;
      background-size: cover;
    }

    .text {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}
