@import "bootstrap";
@import "font-awesome";

body,
html {
  height: 100%;

  header {
    height: 4em;
    background-color: #000000;
  }

  .video-wrap {
    position: relative;
    height: 100%;
    width: 100%;

    #video {
      width: 100%;
    }

    .text-1, .text-2 {
      font-family: serif;
      color: #fff;
      font-size: 400%;
      position: absolute;
      z-index: 1;
    }

    .text-1 {
      top: 200px;
    }

    .text-2 {
      top: 300px;
    }
  }
}
