.row
  .col-12
    .row
      .col-6.pb-5.pt-5.text-center.contact-left
        電話の問い合わせ
        %br
        03-xxxx-yyyy
        %br
        定休日: 土曜、日曜、祝日
      .col-6.pb-5.pt-5.text-center.contact-right
        フォームからの問い合わせ
        %br
        CONTACT
    .row.pt-5
      .col-5.text-center
        = image_tag 'https://placehold.jp/200x120.png'
      .col-7.silver
        株式会社ALTEGRA
        %br
        .font-small
          CORPORATE SITE
    .row
      .col-5
      .col-2
        BUSINESS
      .col-2
        COMPANY
      .col-2
        INFOGRAPHIC
    .row
      .col-1
      .col-4.font-small
        .pl-4
          プライバシーポリシー
      .col-2
        RECRUIT
      .col-2
        NEWS
      .col-2
        CONTACT
    .row
      .col-1
      .col-4.font-small
        .pl-4
          反社会的勢力に関する方針
      .col-7
    .row
      .col-1
      .col-4.font-small.silver
        .pl-4
          © ALTEGRA. All Rights Reserved.
      .col-7
